Функциональные требования к проекту
    1.Авторизация/аутентификация пользователя
        Регистрация нового пользователя.
        Вход для зарегистрированных пользователей.
        Восстановление пароля.
    2. Управление пользователями (CRUD)
        Создание, чтение, обновление и удаление профилей пользователей.
        Просмотр истории заказов.
        Система ролей
    3. Разграничение прав доступа (администратор, пользователь).
        Управление ролями пользователей.
    4. Журналирование действий пользователя
        Логирование всех действий пользователей (вход, изменения профиля, заказы).
    5. Каталог товаров
        Просмотр товара, фильтрация по категориям, поиск по названию.
    6. Корзина и оформление заказа
        Добавление товаров в корзину.
        Оформление заказа с выбором способа доставки и оплаты.
    7. Отзывы и рейтинги товаров
        Пользователи могут оставлять отзывы о товарах.
